*.ipynb linguist-language=Python
Converters/CSVtoNY/** linguist-vendored
Converters/RAWtoCSV/P300/** linguist-vendored
Converters/RAWtoCSV/MI/RAW_to_CSV_for_AlexMI.ipynb linguist-vendored
Converters/RAWtoCSV/MI/RAW_to_CSV_for_BNCI2014001.ipynb linguist-vendored
Converters/RAWtoCSV/MI/RAW_to_CSV_for_BNCI2014002-test.ipynb linguist-vendored
Converters/RAWtoCSV/MI/RAW_to_CSV_for_BNCI2014002-train.ipynb linguist-vendored
Converters/RAWtoCSV/MI/RAW_to_CSV_for_BNCI2014004-test.ipynb linguist-vendored
Converters/RAWtoCSV/MI/RAW_to_CSV_for_BNCI2014004-train.ipynb linguist-vendored
Converters/RAWtoCSV/MI/RAW_to_CSV_for_BNCI2014004-train.ipynb linguist-vendored
Converters/RAWtoCSV/MI/RAW_to_CSV_for_BNCI2015001.ipynb linguist-vendored