*.ipynb linguist-language=Python
/Converters/CSVtoNY/P300/** linguist-vendored
/Converters/RAWtoCSV/P300/** linguist-vendored
/Converters/RAWtoCSV/MI/** linguist-vendored

/Converters/CSVtoNY/MI/CSV_to_NY_for_AlexMI.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_Cho2017.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_Schirrmeister2017.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_PhysionetMI-T2.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_BNCI2015001.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_PhysionetMI-T4.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_BNCI2014001.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_BNCI2014002-test.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_BNCI2014002-train.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_BNCI2014004-test.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_BNCI2014004-train.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_Lee2019MI.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_Shin2017A.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_SPSM2025.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_Weibo2014.ipynb linguist-vendored
/Converters/CSVtoNY/MI/CSV_to_NY_for_Zhou2016.ipynb linguist-vendored
